/* variable */
$flex : flex;

ul{
    padding:0px;
}
.List{
    display: $flex;
    justify-content: space-around;
    background-color: #dddddd;
    margin: 10px 80px;

    div{
        width:25%;
        text-align: center;
    }
}

.Form{
    display: $flex;
    flex-direction:column;
    align-items: center;
    margin: 0px;
    

    /* Nesting  */
    p{
        margin:5px 0px;
    }

    button{
        margin-top : 5px;
    }
}